$azul-Fatradis: #222099 ;
$celeste-Fatradis: #4199D9;
$negro-Fatradis: #222;

$color-primario: #e7e7e7;
$color-secundario: #f8931d;
$color-texto: #666;

$espaciado-estandar: 10px;
$espaciado-doble: 20px;

$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;

$tipografia-general: arial, verdana, sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;