@import '../../styles/varStyle.scss';


.content__footer {
    background-color: $negro-Fatradis;
    padding: 16px 16px;
    margin: 0%;
    .item__footer{
        a{
            text-decoration: none;
            color: $color-primario;
        }
    }
}
.copyrigth{
    display: flex;
    justify-content: center;
    margin: 2px;
    span{
        font-size: 0.8em;
    }
}